* {
    user-select: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #05a505;
}

.title-bar {
    background: #151515;
    -webkit-app-region: drag;
    display: flex;
    padding: 3px 6px;
    margin: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.title-bar .title-text {
    color: #05a505;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    width: 100%;
}

.title-bar button {
    -webkit-app-region: none;
    cursor: pointer;
}

.title-bar .title-button {
    border: none;
    padding: 3px 6px;
    font-size: 8pt;
    transition: 0.3s;
    margin: 0 0 0 3px;
    height: 100%;
    width: 25px;
    border-radius: 3px;
    background: none;
    color: #adadff;
}

.title-bar .title-button:hover {
    background: #05a505;
    color: #fff;
}

.title-bar .title-button.close {
    background: none;
    color: #ad1515;
}

.title-bar .title-button.close:hover {
    background: #ad1515;
    color: #fff;
}

.title-bar .title-icon {
    background: none;
    width: 15pt;
    height: 15pt;
    padding: 3px;
    margin: -3px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icon.png");
}

.main-content {
    height: 100%;
    background: linear-gradient(to bottom, #000, #151515);
    margin: 0 3px 3px 3px;
}