* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #85a5d5, #4565d5, #2545a5);
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
    -webkit-app-region: drag;
    padding-bottom: 6px;
}

.title-bar .title-text {
    text-align: left;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0 12px;
}

.title-bar button {
    -webkit-app-region: none;
    cursor: pointer;
}

.title-bar .title-button-container {
    display: flex;
    align-items: right;
    justify-content: center;
    margin: 0 10px;
    border: solid 1px #8080ff;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    gap: 1px;
    background: #8080ff;
}

.title-bar .title-button-container .title-button {
    padding: 3px 15px;
    background: linear-gradient(#2545a5, #6585ff, #2545a5);
    font-family: monospace;
    border: none;
    border-top: none;
    color: #fff;
    font-weight: 600;
}

.title-bar .title-button-container .title-button:hover {
    background: linear-gradient(#6585ff, #85a5ff, #6585ff);
}

.title-bar .title-button-container .title-button.close {
    background: linear-gradient(#a52525, #ff4545, #a52525);
}

.title-bar .title-button-container .title-button.close:hover {
    background: linear-gradient(#d54545, #ff8585, #d54545);
}

.main-content {
    width: auto;
    height: 100%;
    background: #fff;
    overflow: scroll;
    margin: 10px;
    margin-top: 0;
}