* {
    user-select: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-bar {
    background: #353535;
    -webkit-app-region: drag;
    display: flex;
    padding: 3px 6px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.title-bar .title-text {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    width: 100%;
}

.title-bar button {
    -webkit-app-region: none;
    cursor: pointer;
}

.title-bar .title-button {
    border-radius: 50%;
    border: none;
    font-size: 8pt;
    transition: 0.3s;
    width: 15pt;
    height: 15pt;
    margin: 3px;
    color: transparent;
    background: #454545;
    color: #fff;
}

.title-bar .title-icon {
    background: none;
    width: 15pt;
    height: 15pt;
    padding: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icon.png");
}

.title-bar .title-button:hover {
    color: #fff;
    background: #555555;
}

.title-bar .title-button.close {
    background: #25ad45;
    color: #fff;
    padding: 3px;
}

.title-bar .title-button.close:hover {
    background: #158525;
}

.main-content {
    width: 100%;
    height: 100%;
    background: #252525;
}