* {
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #1535f5, #2545f5);
    margin: 0;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    -webkit-app-region: drag;
    background: linear-gradient(to bottom, #adadff, #2545f5, #1535f5, #1535f5);
}

.title-bar .title-text {
    width: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 6px;
    font-size: 10pt;
}

.title-bar .title-button {
    height: 100%;
    background: linear-gradient(135deg, #ffffff, #2565ff, #2565ff, #4545ff);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 10pt;
    border: solid 1px #dfdfdf;
    margin: 0 0 0 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-app-region: none;
}

.title-bar .title-button.close {
    background: linear-gradient(135deg, #ffffff, #ff4545, #ff4545, #df2525);
}

.title-bar .title-button:hover {
    background: linear-gradient(135deg, #adadff, #1545df, #1545df, #2525df);
}

.title-bar .title-button.close:hover {
    background: linear-gradient(135deg, #ffdada, #df2525, #df2525, #af1515);
}

.title-bar .title-icon {
    background: none;
    width: 15pt;
    height: 15pt;
    padding: 3px;
    margin: -3px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icon.png");
}

.main-content {
    height: 100%;
    margin: 6px;
    margin-top: 0;
    background: #fff;
    overflow: scroll;
}