* {
    user-select: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titleBar {
    background: #450045;
    -webkit-app-region: drag;
    display: flex;
    padding: 3px 6px;
    border-bottom: solid 1px #ffdaff;
    border-top: solid 1px #ffdaff;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.titleBar .appTitle {
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: center;
    width: 100%;
}

.titleBar button {
    -webkit-app-region: none;
    cursor: pointer;
}

button.circle {
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    transition: 0.3s;
    margin: 3px;
}

button.circle:hover {
    border-radius: 0;
}

.red {
    background: #da2525;
}

.contentContainer {
    width: 100%;
    height: 100%;
    background: #ff45ff;
}