* {
    user-select: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
}

.titleBar, .footerBar {
    background: #121212;
    -webkit-app-region: drag;
    display: flex;
    padding: 6px 3px;
    border-right: solid 1px #adadad;
    border-left: solid 1px #adadad;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerBar {
    width: 20px;
}

.titleBar .appTitle, .titleBar .void {
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: center;
    height: 100%;
    width: auto;
}

.titleBar .appTitle {
    rotate: 90deg;
    width: auto;
}
    
.titleBar .appTitle span {
    rotate: 90deg;
    /* width: 30px; */
}

.titleBar button {
    -webkit-app-region: none;
    cursor: pointer;
}

button.circle {
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    transition: 0.3s;
    margin: 3px 0;
}

button.circle:hover {
    border-radius: 0;
}

.red {
    background: #da2525;
}

.contentContainer {
    width: 100%;
    height: 100%;
    background: #454545;
}