* {
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #808080, #adadad);
    margin: 0;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background: linear-gradient(to right, #051585, #85a5ff);
    -webkit-app-region: drag;
    margin: 3px;
}

.title-bar .title-text {
    width: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 6px;
    font-size: 10pt;
}

.title-bar .title-button {
    height: 100%;
    background: #dadada;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 8pt;
    border: solid 2px #151515;
    border-style: outset;
    cursor: pointer;
    -webkit-app-region: none;
}

.title-bar .title-button:hover {
    background: #adadad;
    border-style: inset;
}

.title-bar .title-icon {
    background: none;
    width: 15pt;
    height: 15pt;
    padding: 3px;
    margin: -3px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icon.png");
}

.main-content {
    height: 100%;
    margin: 3px;
    margin-top: 0;
    background: #fff;
    overflow: scroll;
    border: solid 2px #151515;
    border-style: inset;
}