* {
    user-select: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-bar {
    background: linear-gradient(to top, #adadff, #8585ff, #adadff);
    -webkit-app-region: drag;
    display: flex;
    padding: 3px 6px;
    border-bottom: solid 1px #151545;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.title-bar .title-text {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    width: 100%;
}

.title-bar button {
    -webkit-app-region: none;
    cursor: pointer;
}

.title-bar .title-button {
    border: none;
    padding: 3px 6px;
    font-size: 8pt;
    transition: 0.3s;
    margin: 0 0 0 3px;
    height: 100%;
    width: 25px;
    border-radius: 3px;
    background: none;
    color: #fff;
}

.title-bar .title-button:hover {
    background: #adadff;
}

.title-bar .title-button.close {
    background: #da2525;
    color: #fff;
}

.title-bar .title-button.close:hover {
    background: #ad1515;
}

.title-bar .title-icon {
    background: none;
    width: 15pt;
    height: 15pt;
    padding: 3px;
    margin: -3px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icon.png");
}

.main-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #8585d5, #adadff);
}